.test button {
  color: rgb(0, 0, 0);
  clip-path: polygon(0 3%, 100% 17%, 74% 56%, 18% 100%, 0 64%);
  background-color: aliceblue;
  height: 50px;
  width: 200px;
}
/* .img-grid {
  width: 394px;
  height: 365px;
  border-radius: 15px;
  border: 6px solid rgba(102, 152, 255, 0.1);
}
.grid-row-span-style {
  border-radius: 15px;
  border: 6px solid rgba(102, 152, 255, 0.1);
  height: 365px;
}
.grid-col-span-style {
  border-radius: 15px;
  border: 6px solid rgba(102, 152, 255, 0.1);
  width: 394px;
} */
