.message-card {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(25px);
}

#contact {
  background: linear-gradient(180deg, #161515 0%, #1B1A1A 100%);
}

#map-section {
  background-image: url(../../Photos/images/gallery-vector.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.send-message {
  border-width: 1.5px;
  border-style: solid;
  border-image: linear-gradient(to right, #6600cc, #dda5e9) 1;
  background: transparent;
  color: #ffff;
}

.send-message:hover {
  border-radius: 0%;
  background: linear-gradient(to right, #6600cc, #dda5e9);
}

.contact-page {
  background: url(../../Photos/images/gallery-vector.png);

  background-position: center;
}

.contact-page-down {
  background: url(../../Photos/images/gallery-vector.png);

  background-position: bottom;
}

@media (max-width: 600px) {
  #mapslider {
    position: absolute;
    left: -115px;
    top: -50px;
  }

  #map-head {
    margin-left: 90px;
  }
}