.top-section-container::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -100px;
  background-color: brown;
  rotate: -10deg;
  margin: 0 auto;
  right: 50%;
  translate: -50%;
  border-radius: 10px;
}

.top-section-container::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -70px;
  background: blue;
  /* background: url(); */
  rotate: 10deg;
  left: 45%;
  right: 50%;
  translate: -50%;
  margin: 0 auto;
  border-radius: 10px;
}

#about-section {
  background-image: url(../../Photos/images/CircleShape.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
}

.gallery-div {
  margin: 80px 130px;
  display: flex;
  gap: 40px;
}

.gallery-div div {
  width: 360px;
  height: 500px;
}

#my-gallery {
  background-image: url(../../Photos/images/gallery-vector.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 600px) {
  .home-page-top-banner {
    display: flex;
    flex-direction: column-reverse;
  }

  #ring {
    position: absolute;

    right: -100px;
    bottom: 350px;
  }
}