@media (max-width: 600px) {
    #header {
        margin: 0 20px;
    }
}

@media (max-width: 767px) {
    #mobile-menu {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    #menu-for-mobile div {
        margin-bottom: 50px;
    }
}

@media (max-width: 930px) {
    #mobile-menu {
        display: none;

    }
}

#menu-for-mobile {
    gap: 84px;
}