.btm-footer {
  background-color: url(./images/foterpink.png);
  background-position: top;
  background-repeat: no-repeat;
}

.footer-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.hr {
  background-color: #ffffff1a;
  height: 1px;
  border: none;
  width: 98%;
  padding: 0 20px;
  margin: 0 auto;
}
.ring-animate {
  animation: rotade 4s infinite;
}
@keyframes rotade {
  100% {
    rotate: 360deg;
  }
}
